/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
@font-face {
  font-family: 'Century Gothic';
  src: url("gothic.ttf"); }
@font-face {
  font-family: 'Futura';
  src: url("Futura.ttf"); }
html,
button,
input,
select,
textarea {
  color: #222; }

body {
  font-size: 1em;
  line-height: 1.4;
  overflow-y: scroll; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/* ==========================================================================
   Bleh.
   ========================================================================== */
html {
  background-color: rgba(8, 15, 8, 0.9);
  background: url("../img/potential-bg.png") no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

body {
  background: transparent; }

#wrap {
  max-width: 1100px;
  margin: 0 auto;
  font-family: 'Century Gothic', serif; }

#header {
  margin: 30px 0;
  height: 160px;
  background-image: url("../img/esy-udu.png");
  background-size: 150px auto;
  background-position: top left;
  background-repeat: no-repeat;
  padding-left: 200px; }

#header h1 {
  float: left;
  font-family: 'Century Gothic', serif;
  font-size: 2.5em;
  color: rgba(32, 24, 21, 0.7); }

.timer {
  position: absolute;
  width: 600px;
  height: 600px;
  margin-top: -500px;
  margin-left: 300px;
  float: right;
  padding-top: 500px;
  border-radius: 600px;
  background-color: rgba(223, 46, 14, 0.7);
  font-size: 1.2em;
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-weight: bold; }

@media (max-width: 479px) {
  .timer {
    display: none; } }
.timer .remaining-days {
  display: block; }

.timer .remaining-mins {
  display: block; }

#nav {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  background-color: rgba(238, 149, 2, 0.92); }

#nav li {
  float: left;
  display: block;
  padding: 5px 0;
  margin: 0 5px;
  list-style-type: none;
  color: white;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 20px;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  font-size: 0.9em;
  font-family: 'Century Gothic', sans-serif;
  font-weight: bold;
  cursor: pointer; }

#nav li:hover, #nav li.active {
  background-color: rgba(223, 26, 14, 0.9); }

#nav li a {
  padding: 5px 15px;
  color: white;
  text-decoration: none; }

.page {
  font-family: "Century Gothic", serif;
  color: white; }

.page.row {
  margin-left: 0;
  margin-right: 0; }

.jamboree-intro, .video-container {
  min-height: 300px;
  background-color: rgba(113, 20, 14, 0.9);
  color: white;
  font-family: 'Century Gothic', serif; }
  .jamboree-intro a.flickr-link, .video-container a.flickr-link {
    display: inline-block;
    float: right;
    margin: 5px 10px 0 10px;
    color: #ee9502; }

.jamboree-intro {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top-right-radius: 5px;
  clear: right; }

.video-container {
  padding: 0; }
  .video-container iframe {
    margin-bottom: -5px; }

.japan-2015-intro {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  min-height: 250px;
  background-color: rgba(238, 149, 2, 0.9);
  border-top-left-radius: 5px;
  color: white; }

.japan-2015-logo {
  margin-top: 20px;
  min-height: 250px;
  background: url("../img/23wsj.png") no-repeat;
  background-position: center center;
  background-size: contain;
  background-color: white; }

.blog-top {
  padding: 10px 20px;
  background-color: rgba(133, 50, 24, 0.95);
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px; }

.blog-post {
  padding: 20px;
  background-color: rgba(113, 20, 14, 0.95);
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px; }

.picture {
  background-size: cover;
  background-position: center center;
  min-height: 200px; }

.text {
  background-color: rgba(113, 20, 14, 0.95);
  padding: 20px;
  margin-bottom: 20px; }

.block {
  display: table;
  margin-bottom: 20px; }
  .block .side {
    display: table-cell;
    width: 300px; }
  .block .main {
    display: table-cell;
    width: 760px;
    background-color: rgba(113, 20, 14, 0.9);
    padding: 20px;
    color: white;
    font-size: 0.9em; }

.block.wide .main {
  width: 1060px; }

.rules-1 .side {
  background-image: url("../img/rules-1-2.jpg");
  background-position: center center;
  background-repeat: no-repeat; }

.rules-2 .side {
  background-image: url("../img/rules-2.jpg");
  background-position: center center;
  background-size: 363px auto;
  background-repeat: no-repeat; }

.rules-3 .side {
  background-image: url("../img/rules-3-2.jpg");
  background-position: center center;
  background-repeat: no-repeat; }

.rules-4 .side {
  background-image: url("../img/rules-4-2.jpg");
  background-position: center center;
  background-repeat: no-repeat; }

.rules-5 .side {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto 700px; }

.rules-7 .side {
  background-image: url("../img/rules-7.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto 530px; }

.rules-8 .side {
  background-image: url("../img/rules-8.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto 500px; }

.rules-9 .side {
  background-image: url("../img/rules-11.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto 390px; }

.pooleli {
  background-color: rgba(113, 20, 14, 0.9);
  font-size: 0.8em;
  color: white;
  padding: 20px; }

.footer {
  margin-top: 30px;
  padding-right: 20px;
  background-color: rgba(20, 20, 20, 0.9);
  color: #afafaf;
  font-size: 0.8em;
  font-family: 'Century Gothic'; }

.footer .esy-logo {
  margin-right: 20px;
  float: left;
  width: 120px;
  height: 120px;
  background: url("../img/esy-udu-v2ike.png") top 20px left 20px no-repeat;
  background-size: 90px 90px; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1; }

/*# sourceMappingURL=main.css.map */
